.jumbotron {
  background: #31708f;
  color: white;
  padding-bottom: 30px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

/*iOS toggle styles found at https://codepen.io/o_ti/pen/bkEco */	  
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #efeff4;
}



article {
  -webkit-columns: 3 200px;
  -moz-columns: 3 200px;
  columns: 3 200px;
  text-align: left;
}




.item {
	position: relative;
	box-sizing: border-box;
	background: #ffffff;
}

.item p {
	border-top: 1px solid #c8c7cc;
	margin: 0 0 0 8px;
	height: 44px;
	color: #000000;
	font-size: 20px;
	line-height: 44px;
}

.item:nth-child(1) p {
	border: 0;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
	line-height: 44px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font-size: 20px;
	color: black;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}



p2 {
	font-size:12px;
	text-align:right;
}

input[type="checkbox"] {
	display: none;	
}

.toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 9px;
	margin: auto;
	width: 51px;
	height: 31px;
}

.toggle label,
.toggle i {
	box-sizing: border-box;
	display: block;
	background: #ffffff;
}

.toggle label {
	width: 51px;
	height: 32px;
	border-radius: 32px; 
	border: 2px solid #e5e5e5;
	transition: all 0.30s ease;
}

.toggle i {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 28px;
	height: 28px;
	border-radius: 28px;
	box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
	background: #ffffff;
	transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}

input[type="checkbox"]:active + .toggle label,
input[type="checkbox"]:checked + .toggle label {
	border: 16px solid #4cd964;
}

input[type="checkbox"]:checked + .toggle i {
	left: 21px;
}

input[type="checkbox"]:checked:active + .toggle label {
	border: 16px solid #e5e5e5;
}

input[type="checkbox"]:checked:active + .toggle i {
	left: 14px;
}