<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>BC Research Sign In Board</h1>
    <p>Version 3.0- NodeJS/Google Spreadsheets</p>
  </div>
</div>


  <div class="container">
  <div class="alert alert-info text-center" role="alert">
    
	<h1 id="socketio"> not connected </h1>
    	
	<fieldset>
	<legend>BCRI Staff</legend>
	<form action="">
	<div id="display"> </div>
	</form>
	</fieldset>
	
	
  </div>
  
  
</div>

	    <script src="/socket.io/socket.io.js"></script>
    <script>

      var socket = io();
      socket.on('connect', function() {
        document.getElementById("socketio").innerHTML = "Socket connected";
      });
      socket.on('showrows', function(rows) {
        var html='';
        for (var i=0; i<rows.length; i++) {
          html += '<div class="item"><p>' + rows[i].name + '</p><input type="checkbox" id="'+rows[i].employeeid +'" name="' + rows[i].name +'" value="" '+ rows[i].status +' onClick="buttonClicked({id:this.id,name:this.name})"><div class="toggle"><label for="' + rows[i].employeeid +'" data-off="out" data-on="in"><i></i></label></div></div>';		  
        }
		
        document.getElementById("display").innerHTML = html;
		});
		
	//tutorial code for socket buttons
	socket.on('buttonUpdate', function(data){
				 
			 });
		function buttonClicked(person){
		
			   socket.emit('clicked',person);
			 }
	//

    </script>

</body>
</html>
