<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>BC Research Sign In Board</h1>
	
	<button class="accordion">Add Person</button>
	<div class="panel">
	
<form id="addUser">
<ul class="form-style-1">
        <li>
        <label>Name <span class="required">*</span></label>
        <input type="text" name="name" class="field-long" placeholder="First Last"/>
		</li>
        <li>
        <label>Email <span class="required">*</span></label>
        <input type="email" name="contact_email" class="field-long" />
		</li>
		<li>
        <label>Cell phone</label>
        <input type="text" name="contact_phone" class="field-long" />
		</li>
        <li>
        <label>Emergency Contact <span class="required">*</span></label>
        <input type="text" name="emergency_name" class="field-long" />
		</li>
		<li>
        <label>Emergency Contact Phone <span class="required">*</span></label>
        <input type="text" name="emergency_phone" class="field-long" />
		</li>
		 <li>
        <input type="submit" value="Add Person">
		</li>
</ul>
</form>
	
	</div>
	
	
  </div>
</div>


  <div class="container">
  <div class="alert alert-info text-center" role="alert">
    

    	

<article>
  	<div id="display"> </div>
  </article>
	
	
  </div>
  
 	<p2 id="socketio" > Database not connected </p> 
</div>

	    <script src="/socket.io/socket.io.js"></script>
    <script>
	
	//connect to server, access list of users from database, display users with checkboxes
      var socket = io();
      socket.on('connect', function() {
        document.getElementById("socketio").innerHTML = "Database connected";
      });
      socket.on('showrows', function(rows) {
        var html='';
        for (var i=0; i<rows.length; i++) {
          html += '<div class="item"><p>' + rows[i].name + '</p><input type="checkbox" id="'+rows[i].employeeid +'" name="' + rows[i].name +'" value="" '+ rows[i].checkbox +' onClick="buttonClicked({id:this.id,name:this.name})"><div class="toggle"><label for="' + rows[i].employeeid +'" data-off="out" data-on="in"><i></i></label></div></div>';		  
        }
		
        document.getElementById("display").innerHTML = html;
		});
		
	//emit socket clicked to change in/out status in GS:
		function buttonClicked(person){
		
			   socket.emit('clicked', person);
			 }
		
	//emit socket newUser to add user when addUser form submit is pressed
		$(document).on('submit','form#addUser',function(){
			//jQuery grabs form data, convert it into an object
			var formdata = $(this).serializeArray();
			var person ={};
			$(formdata).each(function(index, obj){
				person[obj.name] = obj.value;
			});
			
			socket.emit('add', person);
			
			return false;
		});

    </script>

		<script>
		//JS script for accordions
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
	  acc[i].onclick = function() {
		this.classList.toggle("active");
		var panel = this.nextElementSibling;
		if (panel.style.maxHeight){
		  panel.style.maxHeight = null;
		} else {
		  panel.style.maxHeight = panel.scrollHeight + "px";
		} 
	  }
	}
	</script>
	

	
	
</body>
</html>
