<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
	<img src="/logo.png" width=400px>
    <h1>Sign In Board</h1>
	
	<button class="accordion">Add Person</button>
	<div class="panel">
	
<form id="addUser">
<ul class="form-style-1">
        <li>
        <label>Name <span class="required">*</span></label>
        <input type="text" name="name" id="name" class="keyboard" placeholder="First Last"/>
		</li>
        <li>
        <label>Email <span class="required">*</span></label>
        <input type="email" name="contact_email" id="contact_email" class="keyboard" placeholder="e.g. first-last@bcri.ca"  />
		</li>
		<li>
        <label>Cell phone</label>
        <input type="text" name="contact_phone" id="contact_phone" class="keyboard-num"  />
		</li>
        <li>
        <label>Emergency Contact <span class="required">*</span></label>
        <input type="text" name="emergency_name" id="emergency_name" class="keyboard"  />
		</li>
		<li>
        <label>Emergency Contact Phone <span class="required">*</span></label>
        <input type="text" name="emergency_phone" id="emergency_phone" class="keyboard-num"  />
		</li>
		 <li>
        <input type="submit" value="Add Person">
		</li>
</ul>
</form>
	
		</div>
	</div>
	</div>
	
  </div>
</div>


  <div class="container">
  <div class="alert alert-info text-center" role="alert">
    

    	

<article>
  	<div id="display"> </div>
  </article>
	
	
  </div>
  
 	<p2 id="socketio" > <b>Warning!</b> Database not connected </p2> <br \>
	<img src = "/fa.png" width=25px> <p2 id="first_aid_statement"><b>Warning!</b> No first aid attendants are in the building.</p2>
	
</div>
	

	    <script src="/socket.io/socket.io.js"></script>
    <script>
	
	//connect to server, access list of users from database, display users with checkboxes
      var socket = io();
	  
	  //variables for first aid attendants
 	  var firstAidHtml ='';
	  var firstAidAttrb = '';
 		  
	  
      socket.on('connect', function() {
        document.getElementById("socketio").innerHTML = "Database connected";
      });
      socket.on('showrows', function(rows) {
        var html='';
        for (var i=0; i<rows.length; i++) {
			console.log(rows[i].firstaid);
			
			var firstaid = '';
			//check to see for first aid attendants			
			if (rows[i].firstaid == "yes"){
				firstAidHtml = '<img src = "/fa.png" width=25px>';
				firstAidAttrb = 'data-firstAid=yes';
  				}
			
          html += '<div class="item"><p>' + rows[i].name + '   ' + firstAidHtml + '</p> <input type="checkbox"' + ' ' + firstAidAttrb + ' ' + 'id="'
			+rows[i].employeeid +'" name="' + rows[i].name +'" value="" '+ rows[i].checkbox +
			' onClick="buttonClicked({id:this.id,name:this.name, status:document.getElementById(this.id).checked})"><div class="toggle"><label for="' 
			+ rows[i].employeeid +'" data-off="out" data-on="in"><i></i></label></div></div>';		  

			//reset first aid html string for next row entry
 			firstAidHtml ='';
 			firstAidAttrb ='';
		}
		
        document.getElementById("display").innerHTML = html;
		countFirstAid();

		});
	
	socket.on('reload', function(data) {
		location.reload();
	});
		//code to update first aid attendant statement
		function countFirstAid(){
			
			//count the number of checked checkboxes with the data-firstAid attribute
			var first_aid_count = document.querySelectorAll('input[type="checkbox"][data-firstAid="yes"]:checked').length;
			
			if (first_aid_count > 0){
				if (first_aid_count ==1){
					var first_aid_html = "There is <b>" + first_aid_count + "</b> first aid attendants in the building";
					document.getElementById("first_aid_statement").innerHTML = first_aid_html;
					}
				else{	
				var first_aid_html = "There are <b>" + first_aid_count + "</b> first aid attendants in the building";
				document.getElementById("first_aid_statement").innerHTML = first_aid_html;
				}
			} else{
				var first_aid_html = "<b>Warning!</b> No first aid attendants are in the building.";
				document.getElementById("first_aid_statement").innerHTML = first_aid_html;
			}
			
		}
		
	//emit socket clicked to change in/out status in GS:
		function buttonClicked(person){
		 	socket.emit('clicked', person);
			
			console.log(person);
			//recheck the first aid count for this client.
			countFirstAid();
			
		}
			 
	//listen for "clicked2" broadcast.emit events to keep in/out status consistent between multiple clients
		socket.on('clicked2', function(person) {
			$('input#'+person.id).prop('checked', person.status);
			
			//update the first aid statement
			countFirstAid();
		});
		
	//emit socket newUser to add user when addUser form submit is pressed
		$(document).on('submit','form#addUser',function(e){
			e.preventDefault();
			//jQuery grabs form data, convert it into an object
			var formdata = $(this).serializeArray();
			var person ={};
			$(formdata).each(function(index, obj){
				person[obj.name] = obj.value;
			});
			
			socket.emit('add', person);
			
			
			//clear form
			$( 'form#addUser' ).each(function(){
    			this.reset();
			});
			//close accordion
			var acc = document.getElementsByClassName("accordion");
			acc[0].click()	;

		});

    </script>

		<script>
		//JS script for accordions
	var acc = document.getElementsByClassName("accordion");
	var i;
	for (i = 0; i < acc.length; i++) {
	  acc[i].onclick = function() {
		this.classList.toggle("active");
		var panel = this.nextElementSibling;
		if (panel.style.maxHeight){
		  panel.style.maxHeight = null;
		} else {
		  panel.style.maxHeight = panel.scrollHeight + "px";
		} 
	  }
	}
	
	</script>
</body>
</html>
